html{
    font-size: 62.5%;
    font-family: 'Muli',sans-serif;
}
body{
    background-color: #21C08B;
    margin: 0;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    background:linear-gradient(#21c08B, #ab88ff);
}
.register-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 700px;
    justify-content: space-around;
    border: 2px solid white;
    padding: 0px 50px;
    border-radius: 40px;
    background: rgba(255,255,255, 0.1);
    box-shadow: 8px 10px 30px -7px rgba(0,0,0,0.49);
}
.register-container h2{
    color: white;
    font-size: 1.6rem;
}
.register-container__form{
    display: flex;
    flex-direction: column;
}
.register-container__form input{
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    height: 40px;
    margin-bottom: 40px;
}
::placeholder{
    color: white;
}
.register-container__form button{
    background: rgba(255,255,255, 0.2);
    outline: none;
    border:none;
    color: white;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.4rem;
    cursor: pointer;
}
.register-container a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
}
.register-container a:hover{
    text-decoration: underline;
}
footer{
    height: 100px;
    display: flex;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    margin-right: 15px;
}
footer a:hover{
    text-decoration: underline;
}
